.item_animation {
    animation: lAnimation 3s infinite linear;
}

@keyframes lAnimation { 
    0% {
        background: #ffffff1f;
    }

    33% {
        background: #ffffff0f
    }

    66% {
        background: #ffffff0f
    }

    100% {
        background: #ffffff1f;
    }

}