.loading-container {
    display: block;
    position: relative;
    height: 12px;
    top: 50%;
}

.loading_item {
    top: 50%;
    animation: loadAnimation 1s infinite linear;
    position: absolute;
    left: 50%;
    width: 8px;
    height: 8px;
    border-radius: 40px;
}

.item_1 {
    left: calc(50% - 12px);
}

.item_2 {
    animation-delay: 0.2s;
}

.item_3 {
    left: calc(50% + 12px);
    animation-delay: 0.4s;
}

@keyframes loadAnimation {

    0% {
        top: 0px
    }

    33% {
        top: -6px
    }

    66% {
        top: 6px
    }

    100% {
        top: 0px
    }

}