.tab-selected {
    position: relative;
}

.tab-selected::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 30%;
    border-radius: 10px 10px 0px 0px;
    background-color: #5e92f3;
}