@font-face {
    font-family: "Archia";
    src: url('./assets/fonts/archia-regular-webfont.ttf');
}

@font-face {
    font-family: "Righteous";
    src: url('./assets/fonts/Righteous-Regular.ttf');
}